

<div class="wrapper">
  <div class="container">

    <div id="about">

      <div id="test">
        <div class="section-title">
          <h1 class="title">Travello</h1>
        </div>
        <div class="section-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab accusantium beatae maxime nostrum saepe.</p>
        </div>
      </div>

      <div class="socials">
        <div class="section-title">
          <h1 class="title">Socials</h1>
        </div>

        <div id="social">

          <div class="social-btn">
            <a href="https://www.instagram.com/andrija_s21/" target="_blank">
              <img src="assets/images/Icons/icons8-instagram-384.png" alt="Instagram" id="instagram">
            </a>
          </div>

          <div class="social-btn">
            <a href="https://twitter.com/AkosoCodes" target="_blank">
              <img src="assets/images/Icons/icons8-twitter-384.png" alt="Twitter" id="twitter">
            </a>
          </div>

          <div class="social-btn">
            <a href="https://www.linkedin.com/in/andrijas21/" target="_blank">
              <img src="assets/images/Icons/icons8-linkedin-384.png" alt="LinkedIn" id="linkedin">
            </a>
          </div>

          <div class="social-btn">
            <a href="https://github.com/AkosoCodes" target="_blank">
              <img src="assets/images/Icons/icons8-github-384.png" alt="Github" id="github">
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="section">

      <div class="section-item">

        <div class="section-title">
          <h1>Navigation</h1>
        </div>

        <div class="section-content">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/discovery">Discovery</a></li>
            <li><a routerLink="/support">Support</a></li>

          </ul>
        </div>

      </div>

      <div class="section-item">

        <div class="section-title">
          <h1>Company [WIP]</h1>
        </div>

        <div class="section-content">
          <ul>
            <li><a routerLink="/404">About</a></li>
            <li><a routerLink="/404">Mission & Vision</a></li>
            <li><a routerLink="/404">Hiring</a></li>
          </ul>
        </div>

      </div>

      <div class="section-item">

        <div class="section-title">
          <h1>Legal</h1>
        </div>

        <div class="section-content">
          <ul>
            <li><a routerLink="/to-s">Terms of Service</a></li>
            <li><a routerLink="/privacy">Privacy Policy</a></li>
            <li><a routerLink="/cookies">Cookie Policy</a></li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

<div id="copy"><h3>Andrija Stankovic<sup>&copy;</sup> | 2020230164</h3></div>


