<div id="top">
    <app-navbar></app-navbar>
</div>
    
<div class="wrapper">


    <div id="title">
        <h1>SUPPORT</h1>
    </div>

    <div class="image">

        <img src="/assets/images/stockPhotos/lake.jpg" alt="">
    </div>

    <div class="container">

        <div class="info">
            <div class="form-title">
                <h1>Contact Us:</h1>
            </div>
    
            <form [formGroup]="SupportForm" (ngSubmit)="sentInfo()">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="user@email.com" formControlName="email">
                    <mat-error>Please enter a valid email</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Subject</mat-label>
                    <input matInput type="text" placeholder="Title" formControlName="subject">
                    <mat-error>Please enter a valid email</mat-error>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Inquiry</mat-label>
                    <textarea matInput style="height: 80px;" formControlName="message" placeholder="Write your message here..."></textarea>
                    <mat-error>Please enter a valid email</mat-error>
                </mat-form-field>
    
                <button mat-button id="form-btn" [disabled]="!SupportForm.valid">SUBMIT</button>
            </form>
        </div>
    </div>
  
</div>
    
<app-footer></app-footer>