*{
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.invisible-side-bar{
  margin-right: 300px;
}
.side-bar{
    width: 300px;
    height: 100%;
    background-color: #075e74;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    
}

.side-bar .list{
    padding: 0;
    margin: 0;
    width: 100%;
}


.list-item {
    width: 100%;
    height: 75px;
    margin: auto;
    cursor: pointer;

    color: white;
    background-color: #075e74;
    transition: all 0.3s ease;
    overflow: hidden;
    text-decoration: none;
    border: none;
  }
  .list-item:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    z-index: -1;
    width: 250;
    height: 50;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(.1);
    transform: scale(.1);
  }
  .list-item:hover {
    color: #075e74;
  }
  .list-item:hover {
    background-color: white;
    -webkit-transform: scale(1);
    transform: scale(1);
  }


.title{
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    margin: auto 0;
    padding: 0;



}

.wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    margin: auto 0;
}


.icon{
    width:75px;
    margin: 5px auto;
    transition: all .2s ease-in-out;

}

.icon:hover{
    transform: scale(1.05);
    transform: rotate(5deg);
}


.socials{
    color: white;
    margin: 50px 0 10px;
}

.title, #social-title{
  padding-left: 0 !important;
}

#social{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 10px auto;

}

#social-title{
  text-align: left;
  margin: 0;
  padding: 0;
}
#instagram, #twitter, #linkedin, #github{
  margin: 0 5px;
  background-color: #f9fcfe;
  border-radius: 10px;
  box-shadow: #022027 3px 3px 1px;
  width: 40px;

  transition: all .2s ease-in-out;
}
#instagram{
  margin: 0 5px 0 0;
}

#instagram:hover, #twitter:hover, #linkedin:hover, #github:hover{
  scale: 1.05;
}



#scroll-to-top{
  position: fixed;
  bottom: 50px;
  right: 80px;
  text-align: center;
  border-radius: 5px;
  width: 75px;
  background-color: #075e74;
  
  z-index: 2;
  transition: all 0.3s ease-in-out;
  }

#scroll-to-top:hover{
bottom: 54px;
}

mat-expansion-panel-header{
  font-size: 24px;
}


.content{
  width: 100%;
  z-index: 1;
}



.action-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 530px;
  margin: 10px;
  padding: 10px 0;
}

.action-btn button{
  width: 250px;
  height: 50px;

  font-size: 30px;
  color: #075e74;
  background-color:#f5f5f5;
  border: #075e74 2px solid;
  box-shadow: #075e74 -5px 5px;
}

.action-btn button:hover{
  color: white;
  background-color: #075e74;
  transition: all 0.5s ease;
}


.show-dest{
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 70px;
  background-color: #e7eaec;
}

.create-dest{
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #e7eaec;
}

.create-dest form{
  background-color: #f5f5f5;
}

.dest{
    width: 500px;
    height: auto;
    margin: 10px;
    border: #075e74 2px solid;
    box-shadow: #075e74 -5px 5px;
    padding: 5px;

}

.dest-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
}

.dest-edit img{
  margin: 0 0 20px;
}

mat-expansion-panel-header p{
 margin: 0;
 padding: 5px;
}

.dest-info img{
  margin: 0 auto;
}

.dest-info span{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 350px;
  
}



.input-edit{
  margin: 5px 0;
  padding: 5px;
  font-size: 15px;
}

.dest img{
    width: 350px;
    height: 230px;
    border-radius: 2%;
    border: #075e74 5px solid;
}


.create-dest form{
  width: 700px;
  border: #075e74 2px solid;
  box-shadow: #075e74 -5px 5px;
}

.image-review{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.image-review mat-form-field{
  width: 330px;


}

mat-form-field{
  padding: 10px;
  margin: 10px 0;
}

mat-form-field mat-label{
  display: inline;
}

mat-chip{
  display: flex;
  flex-direction: row;
}

#form-btn{
  width: 650px;
  height: 50px;
  margin: 20px auto;
  font-size: 25px;
  color: #e7eaec;
  background-color: #075e74;
  transition: all 0.15s ease-in-out;
}

#form-btn:hover{
  color: #075e74;
  background-color: #e7eaec;
  border: #075e74 3px solid;
}

.image-path mat-label{
  margin: auto 0;
  margin-left: 5px;
}

.editForm{
  width: 350px;
  font-size: 15px;
  border-radius: 2%;
  
}

.editForm mat-form-field{
  width: 350px;
  padding:0 0 10px;
  margin: 0;
}

.editForm button{
  width: 350px;
  height: 50px;
  margin: 5px auto;
  font-size: 25px;
  color: #e7eaec;
  background-color: #075e74;
  transition: all 0.15s ease-in-out;
}

.editForm button:hover{
  color: #075e74;
  background-color: #e7eaec;
  border: #075e74 3px solid;
}

.form-title{
  width: 80%;
  margin: 20px auto 0;
  text-align: center;




}

.form-title h1{
  font-size: 40px;
  padding: 5px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: auto;
}

#check{
  margin: auto;
  width: 650px;
  
}

#check:hover{
  background-color: #76b8c85c;
}


.spline{
  height: 100%;
  border: #022027 solid 25px;
  background-color: #41a3bb9f;
}

.spline h1{
  position: fixed;
  margin: 500px 0 0 350px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 100px;
}