<div class="content">
  <div class="users">
    <mat-tab-group mat-align-tabs="center" preserveContent>
    
      <mat-tab label="VIEW">
        <div class="show-dest">
  
          <div class="action-btn">
            <button mat-stroked-button (click)="openAll()">Expand All</button>
            <button mat-stroked-button (click)="closeAll()">Close All</button>
          </div>
  
          <mat-accordion #myaccordion="matAccordion" multi="true">
            <mat-expansion-panel class="dest" *ngFor="let booking of bookings"
              (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  
              <mat-expansion-panel-header>
                <p> {{booking._id}}</p>
              </mat-expansion-panel-header>
  
              <div class="dest-section">
  
                <div class="dest-info" style="{{showInput}}">
  
                  <span>
                    <strong>UserID: </strong>{{userID}}
                  </span>
  
                  <span>
                    <strong>DestinationID:</strong>{{booking.destinationID}}
                  </span>
  
                  <span>
                    <strong>Start Date:</strong>{{booking.startDate}}{{booking.userID}}
                  </span>

                  <span>
                    <strong>End Date:</strong>{{booking.endDate}}
                  </span>
  
                </div>
  
                  <mat-action-row>
                    <button mat-button color="warn" (click)="deleteBooking(booking._id); ">DELETE</button>
                  </mat-action-row>

              </div>
  
            </mat-expansion-panel>
          </mat-accordion>
  
  
        </div>
      </mat-tab>
  
  
    </mat-tab-group>
  </div>
  </div>
  