
<div class="content">
    <div class="destinations">

        <mat-tab-group mat-align-tabs="center" preserveContent>
  
          <mat-tab label="CREATE">
            <div class="create-dest">
  
              <form [formGroup]="destinationForm" (ngSubmit)="createDest()">
  
                <div class="form-title">
                  <h1>Create a new Destination:</h1>
                </div>
  
                  <mat-form-field appearance="fill">
                      <mat-label>City</mat-label>
                      <input matInput formControlName="city">
                      <mat-hint>Enter city name</mat-hint>
                  </mat-form-field>
  
                  <mat-form-field appearance="fill">
                      <mat-label>Country</mat-label>
                      <input matInput formControlName="country">
                      <mat-hint>Enter country name</mat-hint>
                  </mat-form-field>
  
                  <div class="image-review">
                      <mat-form-field appearance="fill">
  
                          <mat-label>Image Path</mat-label>
                          <input matInput type="text" formControlName="image" >
                          <mat-hint>Format: /images/Destinations/[IMAGE NAME].jpg</mat-hint>
                      </mat-form-field>
  
                      <mat-form-field appearance="fill">
                          <mat-label>Review</mat-label>
                          <input matInput type="number" min="0" value="3" max="5" step="0.1" formControlName="review">
                          <mat-hint>Digits between 0 and 5</mat-hint>
                      </mat-form-field>
                  </div>
  
                  <mat-form-field>
                      <mat-label>Categories</mat-label>
  
                      <mat-chip-list #chipList aria-label="Category selection">
                          <mat-chip *ngFor="let category of Categories" (removed)="remove(category)">
                            {{category.name}}
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                          <input placeholder="New category..."
                                 [matChipInputFor]="chipList"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="add($event)"
                                 (keyup.enter)="submit();"
                                 formControlName="categories">
  
                        </mat-chip-list>
  
                  </mat-form-field>
  
  
  
  
                  <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-hint>Describe the destination</mat-hint>
                  </mat-form-field>
  
                  <button mat-button type="submit" id="form-btn">Submit</button>
  
              </form>
  
  
            </div>
  
  
  
          </mat-tab>
          
          <mat-tab label="EDIT">
            <div class="show-dest">
  
              <div class="action-btn">
                <button mat-stroked-button (click)="openAll()">Expand All</button>
                <button mat-stroked-button (click)="closeAll()">Close All</button>
              </div>
  
              <mat-accordion #myaccordion="matAccordion" multi="true">
                <mat-expansion-panel class="dest" *ngFor="let destination of destinations"
                  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  
                  <mat-expansion-panel-header>
                    <p>{{destination.city}}, {{destination.country}}</p>
                  </mat-expansion-panel-header>
  
                  <div class="dest-section">
  
                    <div class="dest-info" style="{{showInput}}">
  
                      <img [src]="destination.imageURL">
  
                      <span>
                        <strong>City:</strong>{{destination.city}}
                      </span>
  
                      <span>
                        <strong>Country:</strong>{{destination.country}}
                      </span>
  
                      <span>
                        <strong>Description:</strong>{{destination.description}}
                      </span>
  
                      <span>
                        <strong>Review:</strong>{{destination.review}}
                      </span>
  
                      <span>
                        <strong>Categories:</strong>{{splitCategories(destination.categories)}}
                      </span>

                      <span>
                        <strong>ID:</strong>{{destination._id}}
                      </span>
  
                    </div>
  
  
                    <div class="dest-edit" style="{{hideInput}}">
  
                      <img [src]="destination.imageURL">
  
                      <form class="editForm" [formGroup]="editForm" (ngSubmit)="editDest(destination._id)">
  
                        <mat-form-field appearance="fill">
                          <mat-label>City</mat-label>
                          <input matInput value="{{destination.city}}" formControlName="cityEdit">
                          <mat-hint><strong><i>{{destination.city}}</i></strong></mat-hint>
                        </mat-form-field>
  
                        <mat-form-field appearance="fill">
                          <mat-label>Country</mat-label>
                          <input matInput formControlName="countryEdit">
                          <mat-hint><strong><i>{{destination.country}}</i></strong></mat-hint>
                        </mat-form-field>
  
                        <mat-form-field appearance="fill">
                          <mat-label>Review</mat-label>
                          <input matInput value="{{destination.review}}" min="0" max="5" step="0.1" formControlName="reviewEdit">
                          <mat-hint><strong><i>{{destination.review}}</i></strong></mat-hint>
                        </mat-form-field>
  
                        <mat-form-field appearance="fill">
                          <mat-label>Description</mat-label>
                          <textarea matInput value="{{destination.description}}" formControlName="descriptionEdit"></textarea>
                        </mat-form-field>
  
                        <button mat-button type="submit" style={{hideInput}}>SUBMIT</button>
  
  
                      </form>
                    </div>
  
                  </div>
  
                  <mat-action-row>
                    <button mat-button color="warn" (click)="deleteDest(destination._id)">DELETE</button>
                    <button mat-button (click)="editEvent(true); " style="{{showInput}}">EDIT</button>
                    <button mat-button (click)="editEvent(false)" style={{hideInput}}>UNDO</button>
                  </mat-action-row>
  
                </mat-expansion-panel>
              </mat-accordion>
  
  
            </div>
          </mat-tab>

  
        </mat-tab-group>
  
      </div>
</div>
  