<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />

  <div id="particles-js">
    <div class="container">
      <div id="heading1">
        <div id="logo">
          <img src="assets/images/Icon.svg" >
          <h1>Travello</h1>
        </div>
      </div>

      <div id="logo-small">
        <h1>Travello</h1>
      </div>

      <div id="buttons">

        <div id="right-btn">
          <button type="button" class="slide" routerLink="/discovery">
            <div class="btn-text">Discover</div>
            <i class="icon-arrow-right"></i>
          </button>
        </div>

        <button type="button" class="slide" routerLink="/404">
          <div class="btn-text">Secret</div>
          <i class="icon-arrow-right"></i>
        </button>

      </div>
    </div>
  </div>



